/* Start Article Book */
article.articles {
    background-image: url(../images/image6.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: var(--margin-top);
}
article.articles {
    width: 100%;
    position: relative;
}
/* Start Bock */
article.articles .bocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--margin-all);
    margin-bottom: var(--margin-bottom);
    margin-top: var(--margin-top);
}
article.articles .bocks .bock {
    display: flex;
    flex-direction: column;
}
article.articles .bocks .bock .images {
    background-color: white;
    max-width: 200px;
    height: 400px;
}
article.articles .bocks .bock .images img {
    max-width: 200px;
    height: 80%;
}
article.articles .bocks .bock .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    min-height: 155px;
    margin-top: -75px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
article.articles .bocks .bock .text p {
    font-size: 20px;
    font-weight: bold;
    color: var(--mane-color);
    margin: 0;
}
article.articles .bocks .bock .text a.download {
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    cursor: pointer;
    color: black;
    padding: 10px;
    margin-top: 5px;
}
article.articles .bocks .bock .text a.download:hover {
    color: var(--mane-color-alt);
}
/* End Bock */

@media (max-width: 767px) {
    .articles .bocks .bock {
        margin: 20px auto;
    }
    .articles .bocks .bock img {
        max-width: 100%;
    }
    article.articles .bocks .bock .text {
        min-height: 0;
        padding: 0;
        text-align: center;
        margin-top: -110px;
    }
    article.articles .bocks .bock .images img {
        height: 70%;
    }
    article.articles .parent .filter ul li#all {
        font-size: 12px;
    }
}
@media (min-width: 1200px) {
    .articles {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .articles .bocks .bock {
        margin: 0 auto;
    }
    .articles .bocks .bock img {
        max-width: 100%;
        height: 300px;
    }
}
@media (min-width: 1999px) {
    .articles .bocks {
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
    }
}
/* End Article Book */